.task {
  width: 272px;
  margin: 20px;
  background: rgb(141, 130, 109);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.task-header {
  width: 100%;
  text-align: start;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.task-name {
  width: 80%;
}

.task-menu {
  width: 20%;
  margin-top: -6px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.task-body {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  display: flex;
  width: 100%;
  background: white;
  margin: 5px;
  box-shadow: 3px 3px 5px rgb(92, 92, 94);
}

.task-footer {
  width: 100%;
  display: flex;
  margin: 10px;
}

.add-card {
  width: 80%;
  display: flex;
}

.task-footer-menu {
  width: 20%;
  margin-top: -6px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
